a {
  text-decoration: none; }

nav header, section header {
  color: #fff;
  background-color: #3F51B5; }

nav {
  width: 25%;
  background-color: #fff; }
  nav header {
    font-size: 20px;
    padding: 23px 20px 22px; }
  nav a {
    list-style: none;
    padding: 20px 0px 20px 10px;
    color: black;
    display: block; }
    nav a:hover {
      font-weight: bold;
      background-color: #C5CAE9; }
    nav a div {
      line-heigth: 20px; }

main {
  display: flex; }

section {
  background-color: #ECF0F1;
  width: 100%; }
  section header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px; }
    section header h2 {
      margin: 0px; }
    section header a {
      color: white;
      margin-left: 20px; }

#content {
  height: 100vh; }

.card {
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  margin: 30px;
  padding: 16px;
  margin-bottom: 30px; }

.card-init {
  width: 50%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 1.5em; }
  .card-init:last-child {
    text-align: center;
    padding: 40px;
    width: 45%; }

#imageIndex {
  width: 50%;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  boorder-radius: 5px; }

#form-login {
  width: 50%; }

form {
  padding: 0px 20px 10px;
  background: #fff;
  box-shadow: 0px 0px 3px gray;
  margin-top: 20px;
  font-size: 0.9rem;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 70%;
  text-align: center; }
  form input[type="text"], form input[type="email"], form input[type="password"], form input[type="number"] {
    width: 60%;
    text-align: center;
    outline: none;
    padding: 15px;
    background: none;
    border: none;
    border-bottom: 1px solid gray;
    margin: 0 auto;
    display: block; }
    form input[type="text"]:focus, form input[type="email"]:focus, form input[type="password"]:focus, form input[type="number"]:focus {
      border-bottom: 3px solid #3F51B5; }
  form .radio-group {
    margin: 0 auto;
    text-align: center;
    margin-top: 20px; }
    form .radio-group label {
      margin-left: 10px;
      display: inline; }
    form .radio-group span {
      margin-top: 25px; }
  form textarea {
    height: 150px;
    width: 400px;
    padding: 5px; }
  form .label-margin {
    margin-bottom: 40px; }
  form label {
    color: #3F51B5;
    font-size: 16px;
    display: block;
    text-align: center;
    margin-bottom: 10px; }
  form h4 {
    background-color: #3F51B5;
    color: white;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    font-size: 17px;
    text-align: center;
    margin-bottom: 40px; }
  form span {
    color: red;
    display: block;
    text-align: center;
    margin-top: 15px; }

button {
  padding: 5px 20px;
  color: #3F51B5;
  margin: 0 auto;
  display: block; }
  button:hover {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
    background-color: #3F51B5;
    color: #FFF; }

.add {
  border-radius: 100px;
  margin-top: 10px; }

.input-group {
  line-height: 0px;
  margin-bottom: 40px; }

#dialog {
  display: none; }

#tabs {
  margin: 10px;
  height: 100%; }

.title {
  text-align: center;
  color: #3F51B5; }

#container-actividades .card {
  width: 50%;
  margin: auto;
  margin-top: 20px;
  text-align: center; }

#container-ponentes {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  justify-content: space-around; }
  #container-ponentes .card {
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    color: #3F51B5; }
    #container-ponentes .card img {
      border-radius: 10px;
      width: 100%; }

footer {
  background-color: #3F51B5;
  color: #FFF;
  padding: 20px; }
  footer p:last-child {
    text-align: center;
    margin-top: 50px; }

#patrocinios {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around; }
  #patrocinios .cuad {
    width: 100px;
    height: 100px; }
  #patrocinios .rect {
    width: 220px;
    height: 100px; }

/*# sourceMappingURL=style.css.map */
